body {
  background-color: rgb(216, 216, 216);
}
.inputDiv {
  text-align: center;
}
#searchInput {
  width: 350px;
}

.label {
  margin: 10px;
  border: 1px solid black;
  background-color: blanchedalmond;
}
#counter,
.title,
#button-id,
h1 {
  text-align: center;
}
.hideTicketButton {
  background-color: #009bca79;
}
.done {
  background-color: rgba(255, 255, 255, 0.5);
  flex: auto;
  justify-content: center;
  margin: 10px;
}
.undone {
  box-shadow: 2px 2px;
  background-color: white;
  border: 1px solid black;
  flex: auto;
  justify-content: center;
  margin: 10px;
}
.done-div-button {
  text-align: right;
}
.done-button {
  border-radius: 10px;
  background-color: #009bca79;
  padding: 10px 10px;
  font-size: 15px;
  margin: 4px 2px;
}
#restoreHideTickets {
  border-radius: 10px;
  background-color: #057a0571;
  padding: 10px 10px;
  font-size: 15px;
  margin: 4px 2px;
}
img {
  width: 20px;
}
