.ticketContainer {
  border: 1px solid black;
  flex: auto;
  justify-content: center;
}
.label {
  margin: 10px;
  border: 1px solid black;
  background-color: blanchedalmond;
}
.title {
  justify-content: center;
}
.hide {
  visibility: hidden;
}
